---
import Image from "astro/components/Image.astro"
// import BrandLogo from '/src/assets/hello.webp'
import {app} from '../../config/index'
---

<div class="w-full sticky top-1 z-50 mb-20">
  
  <header class="header flex w-full text-lg sm:nowrap sm:justify-start">
    
    <div class="relative mx-auto flex w-full py-2 items-center justify-between sm:flex sm:items-center" aria-label="Global">
      
            <!-- Brand Logo -->
            <a href="/">
              <img src='/assets/hello.webp' alt="Brand Logo" class="h-10 backdrop-blur rounded-4xl w-auto" aria-label="Brand"/>
            </a>

            <!-- Job title -->
            <!-- <div class="backdrop-blur">
              <p class="tracking-wider">( Software Engineer & Full stack developer )</p>
            </div> -->

          <!-- CTA Button -->
          <a href={app.links.email} target="_blank" aria-label="Status">

            <div class="status relative flex backdrop-blur items-center gap-x-2 rounded-[10px] border border-[#30363D]
            px-4 py-2 text-sm lg:text-lg shadow-sm transition-all hover:shadow-md">
          
                <!-- Pulsating Dot -->
                <span class="relative flex items-center justify-center w-2 h-2">
                  <span class="absolute inset-0 rounded-full border border-[#32C924] animate-pingRing z-0"></span>
                  <span class="absolute inset-0 rounded-full bg-[#10B77F] z-10"></span>
                </span>

                <!-- Status Text -->
                <span class="font-medium tracking-normal">Open to Work</span>

            </div>

          </a>
    </div>

</header>

</div>


<style>

  .status{
    cursor: pointer;
  }
</style>