---
import contactMe from '../assets/memoji/contact.webp'
import Section from './UI/section.astro'
---

<Section colorTitle="Contact" title="Me" Memoji={contactMe} AltMemoji="contactMe">
  <h1><strong>Have a vision? I'm the one to bring it to life — let's work together. 💼🚀</strong></h1>

<!-- svg of github in button  -->


</Section>