---
import contactMe from '../assets/memoji/contact.webp'
import Image from 'astro/components/Image.astro'
---

<section>
  <h1><strong>Have a vision? I'm the one to bring it to life — let's work together. 💼🚀</strong></h1>

<a href=""><button>contact me</button></a> <Image src={contactMe} alt="contact"/>
<!-- svg of github in button  -->


</section>