---
import contactMe from '../assets/memoji/contact.webp'
import Highlight from './UI/highlight.astro'
import Section from './UI/section.astro'
import {app} from '../config/index'
import Button from './UI/button.astro'
---

<Section colorTitle="Contact" Memoji={contactMe} AltMemoji="contactMe">
  <h1 class="text-[30px]"><Highlight>Have a vision?</Highlight> I'm the one to bring it to life — let's work together. 💼🚀</h1>
<Button href={app.links.email} target="_blank" title="Contact Me"/>

</Section>