---
import AboutMe from '../assets/memoji/about.webp'
import Image from 'astro/components/Image.astro'
import Section from './UI/section.astro'
---


<Section colorTitle="Education" Memoji={AboutMe} AltMemoji="Education">

  <!-- edu 1 -->
  <div>
    <h2>Arkansas Tech University</h2>
    <span><h3>Masters of science in Information Technology</h3><h3>Dec 2022</h3></span>
  <p>GPA: 3.8/4.0</p>
</div>


  <!-- edu 2 -->
  <div>
    <h2>CMR technical campus</h2>
    <span><h3>Bachelors in computer science</h3><h3>Aug 2021</h3></span>
  <p>GPA: 7.0/10 </p>
</div>
</Section>