---
import AboutMe from '../assets/memoji/about.webp'
import Title from './UI/sectionInfo.astro'
import Section from './UI/section.astro'
---


<Section colorTitle="Education" Memoji={AboutMe} AltMemoji="Education">
  <div class="flex flex-col gap-y-5">
      <!-- edu 1 -->
      <div>
        <Title Title="Arkansas Tech University" Role="Masters of science in Information Technology" endDate="Dec 2022" />
        <p>GPA: 3.8/4.0</p>
      </div>


      <!-- edu 2 -->
      <div>
        <Title Title="CMR technical campus" Role="Bachelors in computer science" endDate="Aug 2021" />
        <p>GPA: 7.0/10 </p>
      </div>
  </div>
</Section>