---
// import Wow from '../assets/wow.webp'
import Section from './UI/section.astro'
import Title from './UI/titleHeader.astro'
---

<Section id="Experience" colorTitle="Experience" Memoji="wow" AltMemoji="Experience">

<div class="flex flex-col gap-y-10">

    <!-- Job 1 -->
  <div>
        <Title Title="Logitell" Role="Jr Software Engineer" startDate="Sep 2025" endDate="Nov 2025">
          <p> Fixed bugs in both frontend and backend parts of the application.</p>
          <p> Implemented multi-language (i18n) support using NextIntl in Next.js application.</p>
          <p> Updating existing pages and components to support localization and dynamic language switching.</p>
          <p>Tested features and fixed issues found during testing.</p>
      </Title>
  </div>

    <!-- Job 3 -->
  <div>
        <Title Title="Denaurlen" Role="Software Engineer" startDate="Nov 2024" endDate="July 2025">
          <p>Built and maintained an authentication system for ed-tech applications using node.js and Express.</p>
          <p>Implemented core user flows including signup, login, & dashboard using Next.js and React.js.</p>
          <p>Implemented token-based authentication using access token and refresh tokens.</p>
          <p>Worked closely with QA and design teams to improve the UI stability, Usability and delivery speed.</p>
          <p>Improved code organization and reusability across backend services.</p>
      </Title>
  </div>

  <!-- Job 2 -->
  <div>
        <Title Title="Freelancing" Role="Full stack developer" startDate="Aug 2024" endDate="Nov 2025">
          <p>Developed 2 web apps using React, Typescript, Node.js, and MongoDB with authentication, dashboards, and CRUD functionality.</p>
    <p>Improved performance through lazy loading, and database indexing, while fixing UI issues, bugs, and writing setup documentation.
</p>
      </Title>
  </div>


  <!-- Job 1 -->
    <div>
    
    <Title Title="Delta Airlines" Role="Software Engineer" startDate="Jan 2023" endDate="Aug 2024">
        <p>
         Helped implement small UI changes in React.js screens related to flight search and booking flow.
        </p>
        <p>
          Updated existing UI components based on design and feedback. Fixed minor UI bugs and made small improvements.

        </p>
        <p>
         Used existing REST APIs to display data in frontend.

        </p>
        <p>
Supported QA testing by reproducing and fixing reported issues.
        </p>
        <p>
        Learned to work in a large codebase using Git and following team coding practices.

        </p>
      </Title>

    </div>



</div>
</Section>