---
import Wow from '../assets/memoji/wow.webp'
import Section from './UI/section.astro'
import Title from './UI/sectionInfo.astro'
---

<Section id="Experience" colorTitle="Experience" Memoji={Wow} AltMemoji="Experience">

<div class="flex flex-col gap-y-10">
  <!-- Job 1 -->
  <div>
        <Title Title="Denaurlen" Role="Sr Software Engineer" startDate="Nov 2024" endDate="July 2025">
          <p>
            Led a team of 5+ engineers to build a secure SSO system with Node.js, OAuth2.0, and microservices.
          </p>
          <p>
            Designed a GraphQL gateway and gRPC services for scalable, low-latency communication.
          </p>
          <p>
            Delivered cross-platform auth workflows and real-time features while mentoring juniors.
          </p>
      </Title>
  </div>


  <!-- Job 2 -->
    <div>
    
    <Title Title="Delta Airlines" Role="Software Engineer" startDate="Jan 2023" endDate="Aug 2024">
        <p>
          Migrated booking, payments, seat management, and notifications to a Node.js + Express microservices architecture.
        </p>
        <p>
          Implemented gRPC for efficient inter-service communication.
        </p>
        <p>
          Upgraded the frontend with Next.js for modernized flight search and seat selection.
        </p>
        <p>
          Automated email notifications, replacing legacy batch processing.
        </p>
        <p>
          Mentored juniors and supported new engineers through knowledge sharing.
        </p>
      </Title>

    </div>



</div>
</Section>