---
import Wow from '../assets/memoji/wow.webp'
import Section from './UI/section.astro'
import Title from './UI/sectionInfo.astro'
---

<Section colorTitle="Experience" Memoji={Wow} AltMemoji="Experience">

 <div class="flex flex-col gap-y-10">
  <!-- Job 1 -->
   <div>
        <Title Title="Denaurlen" Role="Sr Software Engineer" startDate="Nov 2024" endDate="July 2025">
          <p>
            Led a team of 5+ engineers to build a secure SSO system with Node.js, OAuth2.0, and microservices.
          <p>

          </p>
Designed a GraphQL gateway and gRPC services for scalable, low-latency communication.
          <p>
Delivered cross-platform auth workflows and real-time features while mentoring juniors.
          </p>


        </Title>
  </div>


  <!-- Job 2 -->
    <div>
    
    <Title Title="Delta Airlines" Role="Software Engineer" startDate="Jan 2023" endDate="Aug 2024">
        <p>
            Improved the backend of the existing reservation system platform by migrating key services like booking, payment processing, seat management, and notifications to Node.js and Express microservice architecture.
        </p>

        <p>
          Introduced gRPC-based inter-service communications to enhance reliability and throughput between the platform's core modules.
        </p>

        <p>
          Upgraded the web frontend using Next.js to modernize flight search, and seat selection.
        </p>

        <p>
          Collaborated with UX designers, product managers, and QA engineers to implement automated email notifications, addressing previous limitations of legacy batch processing systems.
        </p>

        <p>
          Helped the team by sharing knowledge with new engineers, while also mentoring junior engineers.
        </p>
      </Title>

    </div>



</div>
</Section>