---
import Idea from '../assets/memoji/idea.webp'
import Section from './UI/section.astro'
---

<Section colorTitle="Projects" Memoji={Idea} AltMemoji="Projects">

  <!-- pro 1 -->
  <div>
    <h2>Linkly</h2>
    <span>pills</span>
    <p>
      I enjoy bringing ideas to life through real-world projects. Here, you'll find some of the work I've done—combining technology, design, and creativity. Take a look!

      I enjoy bringing ideas to life through real-world projects. Here, you'll find some of the work I've done—combining technology, design, and creativity. Take a look!</p>
<a href=""><button>code</button></a>
<a href=""><button>demo</button></a>
</div>

<a href=""><button>Github</button></a> 
<!-- svg of github in button  -->


</Section>