---
import Idea from '../assets/memoji/idea.webp'
import Image from 'astro/components/Image.astro'
---

<section>
  <h1><strong>Projects</strong><Image src={Idea} alt="About"/></h1>

  <!-- pro 1 -->
  <div>
    <h2>Linkly</h2>
    <span>pills</span>
    <p>
      I enjoy bringing ideas to life through real-world projects. Here, you'll find some of the work I've done—combining technology, design, and creativity. Take a look!

      I enjoy bringing ideas to life through real-world projects. Here, you'll find some of the work I've done—combining technology, design, and creativity. Take a look!</p>
<a href=""><button>code</button></a>
<a href=""><button>demo</button></a>
</div>

<a href=""><button>Github</button></a> 
<!-- svg of github in button  -->


</section>