---
import Idea from '../assets/memoji/idea.webp'
import Section from './UI/section.astro'
import Pill from './UI/pills.astro'
import Title from './UI/sectionInfo.astro'
import { app } from '../config'
import Button from './UI/button.astro'


// const Linkly = [
//   "CSS", "EJS", "Git", "Express JS",
//   "MongoDB","TypeScript", 
//   "JavaScript", "Prisma"
// ];

// const ReactApp = [
//   "CSS", "EJS", "Git","TypeScript", "JavaScript", "React", "HTML"
// ];
---

<Section colorTitle="Projects" Memoji={Idea} AltMemoji="Projects">


  <div class="flex flex-col gap-y-10">
  <!-- pro 1 -->

    <div>

            <Title Tag="a" href="https://github.com/peter-abhinav/Linkly" target="_blank" Title="Linkly" endDate="">

              <!-- <Pill class="gap-y-3 mb-8" Tech={Linkly}/> -->

              <p>
                A backend app for user authentication and URL shortening, built with Node.js, Express, Prisma, MongoDB, and JWT. Features include secure user signup/login, short URL generation with analytics, and modular APIs for authentication and URL management.
              </p>
            </Title>

    </div>

<!-- project 2 -->
    <div>

            <Title Tag="a" href="https://github.com/peter-abhinav/react-apps" target="_blank" Title="React Apps" endDate="">

              <!-- <Pill class="gap-y-3 mb-4" Tech={ReactApp}/> -->

              <p>
                A collection of mini React projects, including a real-time clock, weather app, and to-do app with persistent storage. Built with TypeScript, TailwindCSS, and reusable components to practice modern front-end development.
              </p>
            </Title>

    </div>

  <Button href={app.links.github} target="_blank" title="Check out my Github"/>

</div>

</Section>