---
import TechStack from '../assets/memoji/tech.webp'
import Image from 'astro/components/Image.astro'
---

<section>
  <h1><strong>Tech</strong> stack <Image src={TechStack} alt="Tech Stack"/></h1>
  <div>
    <p>Pills</p>
  </div>

</section>