---
import TechStack from '../assets/memoji/tech.webp'
import Section from './UI/section.astro'
import Pill from './UI/pills.astro'

const Technology = [
  "C", "Go", "CSS", "EJS", "Git", "Shell", "HTML", "REST API",
  "React", "Astro", "Railway", "Vercel", "gRPC", "Express JS",
  "Python", "MongoDB", "MySQL", "Postgres", "TypeScript", 
  "JavaScript", "Hacker Rank"
];


---


<Section id="Tech" colorTitle="Tech" title="Stack" Memoji={TechStack} AltMemoji="Tech Stack">
      <!-- <span class="flex flex-col gap-y-4 bg-white/0.5"> -->
            <Pill class="gap-y-4 mt-10" Tech={Technology}/>
      <!-- </span> -->
</Section>