---
import TechStack from '../assets/memoji/tech.webp'
import Section from './UI/section.astro'

---

<Section colorTitle="Tech" title="Stack" Memoji={TechStack} AltMemoji="Tech Stack">
<span>
  <h1>Pills</h1>
</span>
</Section>