<!-- Tech Stack Section -->
<div class="mx-[6px] mt-[18px]">
  <main class="px-4 py-2">
    <div class="text-[var(--color-text-default)] w-full max-w-[384px] px-[26px] py-4 rounded-2xl">
      <!-- Title -->
      <h2 class="text-2xl font-bold mb-4">
        Work <span style="color: #10B981;">Experience</span>
      </h2>

      <!-- Job Experience Block -->
      <div class="mt-[35px]">
        <h1 class="text-[18px] font-medium">
          <span class="text-[var(--color-secondary-500)]">Software Engineer</span> | Delta Airlines
        </h1>

        <p class="mt-[10px] text-[12px] font-normal flex justify-between">
          <span>Atlanta, <strong>GA</strong></span>
          <span>May 2023 - Aug 2024</span>
        </p>

        <p class="text-[15px] font-normal leading-[20px] mt-[30px]">
          I designed and maintained back-end RESTful APIs using <strong>Node.js</strong> and <strong>Express</strong>, significantly improving code review outcomes by <strong>32%</strong> through the adoption of better <strong>architectural</strong> practices. <br /><br />

          I optimized <strong>database queries</strong> and <strong>application logic</strong>, reducing API response times by up to <strong>45%</strong> and improving overall <strong>system performance</strong>. <br /><br />

          I also led the migration to a scalable, cloud-based <strong>MVC architecture</strong> that now supports over <strong>100,000</strong> active users.
        </p>

      </div>


      <!-- Job Experience Block 2 -->
      <div class="mt-[35px]">
        <h1 class="text-[18px] font-medium">
          <span class="text-[var(--color-secondary-500)]">Software Engineer</span> | GE Health care
        </h1>

        <p class="mt-[10px] text-[12px] font-normal flex justify-between">
          <span>Russellville, <strong>AR</strong></span>
          <span>May 2022 - Feb 2023</span>
        </p>

          <p class="text-[15px] font-normal leading-[20px] mt-[30px]">
            I built responsive and accessible web interfaces using <strong>React</strong>, <strong>Tailwind CSS</strong>, and <strong>TypeScript</strong>. <br /><br />

            I integrated back-end <strong>APIs</strong> and managed <strong>data flow</strong> with <strong>MongoDB</strong> to ensure efficient <strong>data handling</strong>. <br /><br />

            Optimized <strong>MongoDB</strong> queries and <strong>indexing strategies</strong>, reducing <strong>database response times</strong> by over <strong>30%</strong>.
          </p>
      </div>

            <!-- Job Experience Block 3 -->
      <div class="mt-[35px]">
        <h1 class="text-[18px] font-medium">
          <span class="text-[var(--color-secondary-500)]">Full Stack developer intern</span> | Verzeo
        </h1>

        <p class="mt-[10px] text-[12px] font-normal flex justify-between">
          <span>Hyderabad, <strong>India</strong></span>
          <span>Aug 2020 - Oct 2020</span>
        </p>

        <p class="text-[15px] font-normal leading-[20px] mt-[30px]">
          I developed <strong>full-stack web applications</strong> using <strong>React</strong>, <strong>Node.js</strong>, and <strong>MongoDB</strong> as part of a <strong>5-member</strong> <strong>Agile team</strong>. <br /><br />

          By leveraging <strong>Git</strong>, <strong>GitHub</strong>, and <strong>Figma</strong> for <strong>version control</strong> and <strong>collaboration</strong>, I helped boost team efficiency by <strong>25%</strong>. <br /><br />

          I also deployed <strong>scalable</strong>, <strong>cloud-native solutions</strong> on <strong>AWS</strong>, which significantly improved <strong>system availability</strong> and <strong>reliability</strong>.
        </p>

      </div>


    </div>
  </main>
</div>
