---
import Image from "astro/components/Image.astro"
const {TechImage, AltTechImageTitle, TechTitle} = Astro.props
---
<div class="h-full">
  <span class="flex flex-row gap-x-2 p-2 rounder-[10px] border border-buttonBorder ">
      <Image src={TechImage} alt={AltTechImageTitle} class="h-5 w-auto"/>
      <p>{TechTitle}</p>
  </span>
</div>