---
import Highlight from "./highlight.astro"
const {Title, Role, startDate="", endDate=""} = Astro.props
---

<div class="w-full bg-white/0.5">
      <div class="w-full flex flex-row items-center justify-between">
        <h2 class="text-2xl">{Title}</h2>
        {(startDate || endDate) &&(startDate ? `${startDate} - ${endDate}` : endDate)}
      </div>

      <h2 class="py-2 text-1xl"><Highlight>{Role}</Highlight></h2>
      
      <div class="flex flex-col text-[18px] gap-y-4 mt-5">
        <slot/>
      </div>
</div>