---
import Image from "astro/components/Image.astro"
import { cn } from "../../utils"
const {colorTitle, class: className,title="", Memoji, AltMemoji} = Astro.props
---

<section>
  <div class={cn(className, 'w-auto flex flex-wrap lg:flex-nowrap mb-30 items-start')}>

      <span class="w-full lg:w-1/3 flex flex-col items-center lg:flex-row lg:items-start">

        <h1 class="flex items-center justify-center gap-x-2 text-[60px] ">
          <strong class="text-accent">{colorTitle} </strong>{title}
        </h1> 

        <Image src={Memoji} alt={AltMemoji} class="w-auto h-90 lg:h-30"/>

      </span>

<div class="w-full lg:w-2/3 flex flex-col gap-4">
    <slot />
  </div>

  </div>
</section>