---
import Image from "astro/components/Image.astro"
const {colorTitle, title="", Memoji, AltMemoji} = Astro.props
---

<section>
  <div class="flex flex-wrap gap-y-3 lg:flex-nowrap lg:gap-x-5 mb-30 items-center-10">

      <span class="w-full flex flex-col items-center lg:flex-row lg:items-start">

        <h1 class="flex items-center justify-center gap-x-2 text-[60px] ">
          <strong class="text-accent">{colorTitle} </strong>{title}
        </h1> 

        <Image src={Memoji} alt={AltMemoji} class="w-auto h-90 lg:h-25"/>

      </span>


      <slot/>

  </div>
</section>